body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-title, .nk-chat-page {
  margin-bottom: 20px;
}

.nk-menu-text:hover {
  color: white;
}

/* chatPage.jsx css styles */
.nk-models {
  margin: 2em;
}

.dropdown-menu {
  max-width: 10px;
}

.collapsible-button {
  background-color: #6576ff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 2em 0em 0em 2em;
}

.favChat {
  width: 0px;
}

@media (min-width: 1200px) {
  .collapseCont {
    padding-right: 0px !important;
  }
}
@media (min-width: 1540px) {
  .collapseCont {
    padding-right: 0px !important;
  }
}

.collapsed {
  background-color: #6576ff;
  position: absolute;
  right: 20px;
  top: 15px
}

.collapsible-content {
  padding: 10px;
}

.hidden {
  display: none;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* You can adjust the color here */
}

.clickable {
  pointer-events: none;
  cursor: not-allowed;
}

.active-text {
  color: #6576ff;; /* Change to the text color you want for active links */
}